/* Палитра цветов */
/* цвет основного текста - #757575 */
/* вторичный цвет текста - #212121 */
/* цвет текста подвала вторичный - rgba(255, 255, 255, 0.6) */
/* цвет акцента - #2196F3 */

/* основной цвет фона - #ffffff*/
/* вторичный цвет фона - #F5F4FA */
/* цвет подвала - #2F303A */

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --main-bcg-color: #e5e5e5;
  --secondary-bcg-color: #f5f4fa;
  --footer-bgc-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-copyright-color: rgba(255, 255, 255, 0.4);
  --main-icon-color: #afb1b8;
  --footer-bg-icon-color: rgba(255, 255, 255, 0.1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bcg-color);

  font-family: "Roboto", sans-serif;

  margin: 0;
}

img {
  display: block;
}

/* Утилитарный класс списка */
.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Утилитарный класс ссылки */
.link {
  display: inline-block;
  text-decoration: none;
}

/* Утилитарный класс оснавной контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Утилитарный класс основный заголовков */
.main-title {
  width: 1200px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: brown; */

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Утилита hide */
.in-hide {
  display: none;
}

/* Шапка */
.header {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--main-white-color);
}

.nav-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav {
  display: flex;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;

  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: var(--title-text-color);
}

.site-nav {
  margin-left: 80px;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.site-nav > .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact {
  margin-left: auto;
}

.contact-link {
  align-items: center;
  display: inline-flex;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header .icon-smartphone,
.icon-envelope {
  margin-right: 10px;

  fill: currentColor;
}

.contact > .item + .item {
  margin-left: 30px;
}

/* Герой */

.hero-scn {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: grey;
}

.hero {
  text-align: center;
}

.hero-title {
  width: 646px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;

  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--main-white-color);
  background-color: var(--accent-color);

  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Секция преимущества */

.advantages {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;

  background-color: var(--main-white-color);
}

.advantages-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advant-items {
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

.advant-items > .item + .item {
  margin-left: 30px;
}

.advant-items > .item::before {
  content: "";
  background-image: url(/images-web-studio/icons/antenna.svg);
  width: 278px;
  height: 117px;
  position: center;
  background-size: cover;
}

.test {
  content: "";
  background-image: url(/images-web-studio/icons/antenna.svg);
  width: 278px;
  height: 117px;
  position: center;
  background-size: cover;
}

.item > .icon {
  display: inline-block;
  width: 270px;
  height: 120px;

  background-color: var(--secondary-bcg-color);
}

/* Секция занятий */

.occupations {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-white-color);
}

.occupations-list-item {
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.occupations-items > .item + .item {
  margin-left: 30px;
}

/* Наша команда */

.our-team {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bcg-color);
}

.card-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.item-cards > .item {
  width: 270px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;

  background-color: var(--main-white-color);
}

.item-cards > .item + .item {
  margin-left: 30px;
}

.item-cards > .item .icon {
  text-decoration: none;
}

.social-networks {
  padding: 0 24px 35px;
  justify-content: space-between;
}

.social-networks svg {
  border: 1px solid black;
  border-radius: 100%;
  fill: var(--main-icon-color);
}

.social-networks svg:hover,
svg:focus {
  fill: var(--main-white-color);
  background-color: var(--accent-color);
}

/* Секция постоянные клиенты */

.clients {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-white-color);
}

.clients .item.item:not(:first-child) {
  margin-left: 30px;
}

.clients svg {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--main-icon-color);
}

.clients-list svg:hover,
svg:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

/* .clients-list {
  justify-content: center;
} */

/* --------------- Подвал ----------------------*/

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
  padding-right: 200px;
  padding-left: 200px;

  background-color: var(--footer-bgc-color);
}

.footer-call-cntr {
  margin-left: 179px;
}

.mailling-cntr {
  margin-left: 102px;
}

.footer-container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .logo {
  margin-bottom: 10px;
  padding: 0;
}

.logo-white {
  color: var(--main-white-color);
}

.footer-contacts {
  margin: 0;

  font-style: normal;
}

.footer-address,
.footer-mail,
.footer-number {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--main-white-color);
}

.footer-mail {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--footer-text-color);
}

.footer-number {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--footer-text-color);
}

.footer-call {
  display: inline-block;
  margin-bottom: 21px;

  color: var(--main-white-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-networks li:not(:first-child) {
  margin-left: 11px;
}

.footer-social-networks svg {
  border-radius: 100%;
  fill: var(--main-white-color);
  background-color: var(--footer-bg-icon-color);
}

.footer-social-networks svg:hover,
svg:focus {
  background-color: var(--accent-color);
}

.mailling {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.copyrights-container {
  display: inline-block;
  margin: 0px;
  width: 1200px;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;

  color: var(--footer-copyright-color);
}

/* Портфолио */

.main {
  margin-right: auto;
  margin-left: auto;
  padding-top: 93px;

  background-color: var(--main-white-color);
}

.buttons {
  justify-content: center;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 56px;
}

.buttons > .item:not(:first-child) {
  margin-left: 8px;
}

.wrap-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.wrap {
  flex-wrap: wrap;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.wrap > .item:nth-child(3n) {
  margin-right: 0;
}

.wrap > .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
}

/* .wrap > img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.wrap > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

/* .card-content:nth-child(2), */
/* .wrap > .item:nth-child(2) > .card-content {
  padding-right: 20px;
} */

.subject-list {
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: start;
  /* margin-top: 20px;
  margin-right: 24px;
  margin-left: 24px; */

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples .description {
  display: flex;
  margin: 0;
  text-align: center;
  justify-content: start;
  /* margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 20px; */

  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filter {
  padding: 6px 21px;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

/* Утилита ховера на ссылки */
.link-accent:hover,
.link-accent:focus {
  color: var(--accent-color);
}
